.container{
    display : flex;
    align-items: center;
    justify-content: space-around;
    padding :10px;
    background-color: #fcdab7 ;
}
.leftSide{
    padding-right: 20%;
    font-size: x-large;
    position: absolute;
    left: 30px;
}

.rightSide{
    display: flex;
    margin-left: 45%;
    margin-right:10% ;
}

.rightSide>*{
    margin: 10px;
    
}
.brand{
    font-size: large;
}

@media screen and (min-width: 480px) {
    
    .container{
        display : flex;
        align-items: center;
        justify-content: space-around;
        padding :10px;
        background-color: #fcdab7 ;
    }
    .leftSide{
        padding-right: 20%;
        font-size: xx-large;
        position: absolute;
        left: 30px;
    }
    
    .rightSide{
        display: flex;
        margin-left: 65%;
    
    }
    .rightSide>*{
        margin: 10px;        
    }
    .brand{
        font-size: x-large;
    }

}