.container{
    display : flex;
    align-items: center;
    justify-content: space-around;
    padding :10px;
    background-color: #fcdab7 ;
}
.leftSide{
    padding-right: 20%;
    font-size: x-large;
    position: absolute;
    left: 30px;
}

.rightSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20%;

}
.brand{
    font-size: large;
}

@media screen and (min-width: 480px) {
    
    .container{
        display : flex;
        align-items: center;
        justify-content: space-around;
        padding :10px;
        background-color: #fcdab7 ;
    }
    .leftSide{
        padding-right: 20%;
        font-size: xx-large;
        position: absolute;
        left: 30px;
    }
    
    .rightSide{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20%;
    
    }
    .brand{
        font-size: x-large;
    }

}